:root {
    --color-background: #FFEBD9;
    --color-text: #f17e7e;
    }

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    }